<section>
    <div class="justify-center text-center object-center grid grid-cols-5">
        <div class="justify-center items-center object-centerz-0 max-w-[50rem] grid-cols-560-auto grid-cols-auto flex-row  mx-auto relative">
            <h1 class="font-bold text-white">GET DISCORD FOR ANY DEVICE</h1>
            <p class="col-start-5 col-end-5 row-start-4 row-end-5 " >An adventure awaits. Hang out with your friends on our desktop app and keep the conversation going on mobile.</p>
            <div>
                <button></button>
                <p></p>
            </div>
            <div>
                <img src="/images/HeroDownloadImg.svg" alt="">
            </div>
        </div>
    </div>
</section>