<div class="pt-[7.5rem] pb-[8.75rem]">
    <div class="w-11/12 max-w-[73.75rem] m-auto">
        <div class="grid gap-x-5 gap-y-5" style="grid-template-rows: minmax(auto,160px) minmax(auto,420px) minmax(auto,160px) 420px auto auto;">
            
            <div class="col-start-1 col-end-2 row-start-1 row-end-3
            max-h-[37.5rem] bg-gray-200 rounded-3xl flex flex-col justify-start items-center p-14 overflow-hidden">
                <h2 class="mb-2 font-[GintoNormal] font-semibold">IOS</h2>
                <a href="" class="flex bg-blackgray text-white text-xl font-semibold max-h-14 mx-auto mt-10 py-4
                whitespace-nowrap rounded-[1.75rem] justify-center items-center px-8">
                    Download
                </a>
                <img src="/images/DeviceIOS.svg" class="mt-16" loading="lazy" alt="IOS">
            </div>
            
            <div class="max-h-[37.5rem] bg-gray-200 rounded-3xl flex flex-col justify-start items-center p-14 overflow-hidden">

            </div>

            <div class="max-h-[37.5rem] bg-gray-200 rounded-3xl flex flex-col justify-start items-center p-14 overflow-hidden">

            </div>

            <div class="max-h-[37.5rem] bg-gray-200 rounded-3xl flex flex-col justify-start items-center p-14 overflow-hidden">

            </div>

        </div>
    </div>
</div>