<a href="" class="bg-blurple font-semibold text-white text-xl py-3.5 pr-8 pl-[4.125rem]
bg-[url('/images/DownloadIcon.svg')] bg-[2rem] bg-no-repeat rounded-[1.75rem] items-center
transition-all duration-200 flex hover:bg-[#7289da] hover:shadow-dc ease-in-out cursor-pointer ">
  Download for windows
</a>