

<button class="bg-[#23272a] font-semibold text-white rounded-full text-xl py-4 px-8 items-center inline-flex mt-6
transition duration-200 ease-in-out cursor-pointer hover:shadow-lg hover:bg-[#333]">
  Open discord in your browser
</button>
