---
import Layout from '@/layouts/Layout.astro';
import NavBar from '@/sections/main/NavBar.astro';
import Footer from '@/sections/main/Footer.astro';
import Hero from '@/sections/download/HeroDownload.astro';
import Main from '@/sections/download/MainDownload.astro';
---

<Layout title="Download Discord to Talk, Chat, and Hang Out">
    <main>

        <div class="bg-blackgray">
			<NavBar/>
            <Hero/>
		</div>

        <Main/>
        
    </main>
    <Footer/>
</Layout>