---
import Layout from '@/layouts/Layout.astro';
import NavBar from '@/components/NavBar.astro';
import Hero from '@/components/Hero.astro'
---

<Layout title="Discord | Your Place to Talk and Hang Out">
	<main>
		<NavBar/>
		<Hero/>
	</main>
</Layout>