---
import Layout from '@/layouts/Layout.astro';
import NavBar from '@/sections/main/NavBar.astro';
import Hero from '@/sections/main/Hero.astro'
import Section2 from '@/sections/main/Section2.astro'
---

<Layout title="Discord | Your Place to Talk and Hang Out">
	<main>
		<div class="bg-blurple">
		<NavBar/>
		<Hero/>
		
		</div>
		<Section2/>
	</main>
</Layout>