<div class="">
    <div class="flex">
        <form action="">
            <h1 class="text-center">Te Damos la Bienvenida!</h1>
            <h2>Nos alegra verte de nuevo!</h2>
            <input type="email">
            <input type="password" name="" id="">
            <a href="#">Olvidaste tu contrasenia?</a>
            <button type="submit"></button>
            <h3>Necesitas una cuenta?</h3><a href="">registrarse</a>
        </form>

    </div>
</div>