<div class="col-span-6 row-span-1">
    <img src="/images/DcImg3.svg" loading="lazy" alt="Create an invite-only place where you belong">
</div>

<div class="col-start-8 col-end-12 row-start-1 row-end-2">
    <h3 class="mb-6 text-5xl font-bold">
        From few to a fandom
    </h3>
    <div class="mt-6 text-xl">
        Get any community running with moderation tools and custom member access. Give members special powers, set up private channels, and more.
        
    </div>
</div>