<div class="col-start-1 col-end-5 row-start-1 row-end-2 element-to-animate">
    <h3 class="mb-6 text-5xl font-bold">
        Where hanging out is easy
    </h3>
    <div class="mt-6 text-xl">
       Discord servers are organized into topic-based channels where you can collaborate, share, and just talk about your day without clogging up a group chat..
    </div>
</div>

<div class="col-start-6 col-end-12 row-start-1 row-end-2 element-to-animate">
    <img src="/images/AboutImageTwo.svg" loading="lazy" alt="Where hanging out is easy">
</div>
