---
import DiscordIcon from '@/icons/DiscordIcon.astro'
---

<nav class="h-[6rem] bg-blurple py-5 px-10 flex justify-between items-center ">
    <div class="logo">
        <DiscordIcon/>
    </div>
    <div class="flex items-center gap-8 ">
        <div class="flex gap-6 [padding-inline: 1.5rem]">
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Download </a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Nitro</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Discover</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Safety</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Support</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Blog</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Carrers</a>
        </div>
        <button class="text-black bg-white rounded-full px-4 py-1.5 font-bold text-sm md:text-base transition duration-200 ease-in-out">Login</button>
    </div>
    <div class="menu-btn">
        <i class="fa-solid fa-bars"></i>
    </div>
</nav>

<style>
    a {
        text-decoration: none;
    }

</style>
