---
import DownloadButton from "@/components/main/DownloadButton.astro"
---

<div class="w-11/12 max-w-[73.75rem] m-auto">
    <div class="flex max-w-[62.5rem] flex-colum justify-center items-center mx-auto">
        <h3 class="mb-6 font-4xl font-bold font-[GintoNord]">RELIABLE TECH FOR STAYING CLOSE</h3>
        <p class="text-center mt-0 text-xl ">
            Low-latency voice and video feels like you’re in the same room. Wave hello over video, watch friends stream their games,
            or gather up and have a drawing session with screen share.
        </p>
    </div>
    <img src="/images/EndAboutImageOne.svg" class="w-full pb-[5.62rem]" alt="">

    <div class="flex relative max-w-4xl my-0 mx-auto flex-col items-center">
        <img src="/images/EndAboutImageTwo.svg" class="max-w-full min-h-[9.37rem] min-w-0 mt-[-4.8rem] mx-auto
         absolute top-0 bottom-auto left-[-6%] right-0" alt="">
         <h3 class="mb-5 font-[GintoNormal] text-[2rem] font-bold leading-8">Ready to start your journey?</h3>

         <DownloadButton/>
    </div>
</div>