---
import DownloadButtonTwo from "@/components/main/DownloadButtonTwo.astro"
---
<div class="py-[7.5rem]">
<div class="w-11/12 max-w-[73.75rem] m-auto">
    <div class=" flex max-w-[62.5rem] flex-col justify-center items-center mx-auto element-to-animate">
        <h3 class="mb-6 text-[2.5rem] font-bold font-[GintoNord] ">RELIABLE TECH FOR STAYING CLOSE</h3>
        <p class="text-center mt-0 text-xl ">
            Low-latency voice and video feels like you’re in the same room. Wave hello over video, watch friends stream their games,
            or gather up and have a drawing session with screen share.
        </p>
    </div>
    <img src="/images/EndAboutImageOne.svg" class="w-full pb-[5.62rem] element-to-animate" alt="">

    <div class="flex relative max-w-4xl my-0 mx-auto flex-col items-center element-to-animate">
        <img src="/images/EndAboutImageTwo.svg" class="max-w-[110%] min-w-0 min-h-[100px] mt-[-4.85rem] mx-auto
        absolute top-0 bottom-auto left-[-6%] right-0" alt="">
         <h3 class="mb-10 font-[GintoNormal] text-[2rem] font-bold leading-8">Ready to start your journey?</h3>

         <DownloadButtonTwo/>
    </div>
</div>
</div>