---
import DiscordIcon from '@/icons/DiscordIcon.astro'
import XIcon from  '@/icons/XIcon.astro'
import InstagramIcon from  '@/icons/InstagramIcon.astro'
import FacebookIcon from  '@/icons/FacebookIcon.astro'
import YoutubeIcon from  '@/icons/YoutubeIcon.astro'
import TiktokIcon from  '@/icons/TiktokIcon.astro'
---


<div class="bg-blackgray pt-20 pb-16 static">
    <div class="w-11/12 max-w-[73.75rem] mx-auto ">

        <div class="grid grid-cols-12 gap-x-5 gap-y-5">

            <div class="col-span-4 row-span-1 z-12 flex flex-col items-start relative">

                <div class="flex select-none">

                </div>

                <div class="items-center text-decoration-none flex relative ">
                    <a href="" class="mr-6">
                        <XIcon/>
                    </a>
                    <a href="" class="mr-6">
                        <InstagramIcon/>
                    </a>
                    <a href="" class="mr-6">
                        <FacebookIcon/>
                    </a>
                    <a href="" class="mr-6">
                        <YoutubeIcon/>
                    </a>
                    <a href="" class="mr-6">
                        <TiktokIcon/>
                    </a>
                </div>

            </div>

            <div class="col-span-2 row-span-1">
                <h4 class="font-medium text-blurple">Product</h4>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Download
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Nitro
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Status
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    App Directory
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    New Mobile Experience
                </a>

            </div>

            <div class="col-span-2 row-span-1">
                <h4 class="font-medium text-blurple">Company</h4>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    About
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Jobs
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Brand
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Newsroom
                </a>
            </div>

            <div class="col-span-2 row-span-1">
                <h4 class="font-medium text-blurple">Resource</h4>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    College
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Support
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Safety
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Blog
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Feedback
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Streamkit
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Creators
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Community
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Developers
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Gaming
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Quests
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Official 3rd Party Merch
                </a>
            </div>

            <div class="col-span-2 row-span-1">
                <h4 class="font-medium text-blurple">Policies</h4>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Terms
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Privacy
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Cookie Settings
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Guidelines
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Acknowledgements
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Licenses
                </a>
                <a href="" class="text-white mt-2 text-base leading-6 no-underline block transition duration-200 hover:underline hover:decoration-2">
                    Company Information
                </a>
                

            </div>

        </div>

        <div class="flex border-t border-solid border-blurple items-start justify-between mt-8 pt-8">
            <a href="">
                <DiscordIcon/>
            </a>
            <a href="" class="text-white bg-blurple rounded-full px-4 py-[0.570rem] font-[700] text-sm transition duration-200 ease-in-out hover:bg-[#8ea1e1] hover:shadow-lg">
                Sign up
            </a>
        </div>

    </div>
</div>