---
import DiscordIcon from '@/icons/DiscordIcon.astro'
---

<div class="max-w-[73.75rem] min-h-[5rem] justify-between items-center mx-auto flex">
    <a href="/">
        <DiscordIcon/>
    </a>
    <nav class="mr-2.5 ">
        <a href="/download" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Download </a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Nitro</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Discover</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Safety</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Support</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Blog</a>
            <a href="#" class="text-base text-white ml-2.5 mr-2.5 p-2.5 font-semibold transition duration-200 hover:underline hover:decoration-2">Carrers</a>
    </nav>
    <div class="min-w-[7.25rem] justify-end flex">
        <a class="text-black bg-white rounded-full px-4 py-[0.570rem] font-[700] text-sm transition duration-200 ease-in-out hover:text-blurple hover:shadow-lg">
            Login
        </a>
    </div>
    
</div>



